sudo: required

language: bash
services: docker

env:
%%VERSIONS%%

branches:
  only:
    - "master"


before_script:
  - docker version
  - image="ffmpeg:${VERSION}"

script:
  - docker build -t "${image}" --build-arg MAKEFLAGS="-j$(($(grep -c ^processor /proc/cpuinfo) + 1))" docker-images/${VERSION}/
  - docker run --rm ${image} -buildconf

after_script:
  - docker images
# vim:set et ts=2 sw=2:
